@font-face {
    font-family: 'QuickSand';
    src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

:root {
    /* btn color */
    --button-color: #bc12cb;
    --button-color-hovered: #da81e2;

    /* span */
    --span-text-color: #d1aad5;

    /* special text color */
    --special-text-color: #be3dca;
    --special-skill-color: #d46edd;

    /* nav */
    --nav-item-hover-shadow: #ed29ff;
}

html {
    background: url('../images/background.png'),linear-gradient(90deg,rgba(33, 11, 46, 1) 0%, rgba(31, 31, 46, 1) 25%, rgba(31, 31, 46, 1) 50%, rgba(31, 31, 46, 1) 75%, rgba(33, 11, 46, 1) 100%);
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    display: flex;
        flex-direction: column;

    color: white;
    backdrop-filter: blur(10px);

    margin: 0em;
    padding-left: 5%;
    padding-right: 5%;
    
    font-family: 'QuickSand', sans-serif;
    font-size: x-large;
    font-weight: 200;
}

button {
    font-family: 'QuickSand', sans-serif;
    font-size: x-large;
    font-weight: 800;

    padding: 0.5em;

    color: var(--button-color);
    background-color: #00000000;
    box-shadow: 0px 0px var(--button-color-hovered);
    border: solid 2px;
    transition: ease-in-out 0.25s;

    margin-top: 1em;
}

button:hover {
    color: var(--button-color-hovered);
    box-shadow: 7px 7px var(--button-color-hovered);
    translate: -7px -7px;
    cursor: pointer;
}

button:active {
    color: var(--button-color-hovered);
    box-shadow: 7px 7px var(--button-color-hovered);
    translate: -7px -7px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;

    font-size: 4em;
    font-weight: 400;
}

h3 {
    font-size: xx-large;
    font-weight: 300;

    text-shadow: 0px 0px 15px var(--span-text-color);
}

span {
    color: var(--span-text-color);

    margin-bottom: 1em;

    font-weight: 600;
    text-shadow: 0px 0px 2em var(--span-text-color);
}

section {
    margin-top: 15em;
}

footer {
    margin-top: 5em;
    margin-bottom: 2.5em;

    text-align: center;
}

footer span {
    text-shadow: 0px 0px 10px var(--span-text-color);
}

/* dynamics */

#mouse-down {
    display: flex;
        flex-direction: column;
        align-self: center;

    width: 2.5%;

    position: sticky; 
    bottom: -100px;
    animation: mouseupdown 4s ease-in-out infinite;
}

@keyframes mouseupdown {
    0% { transform: translate(0px); filter: drop-shadow( 0px 0px 0em #be3dca70 );}
    50% { transform: translate(0px, 50px); filter: drop-shadow( 0px 0px 0.3em #be3dca70 );}
    100% { transform: translate(0px); filter: drop-shadow( 0px 0px 0em #be3dca70 ); }
}

/* */

.reveal, .skill-reveal {
    opacity: 0;
    transform: translate(-5em);
}

.active {
    transition: all 1s;
    opacity: 1;
}

/* Nav */
nav {
    display: flex;
        justify-content: space-between;
    
    margin-bottom: 4em;
}

nav h3 {
    font-weight: 100;
    letter-spacing: 5px;
}

#nav-title, #nav-bar {
    display: flex;
        align-items: center;
}

.nav-item {
    display: flex;
    padding-left: 2em;
    transition: ease-in-out 0.35s;
}

.nav-item:hover {
    text-shadow: 5px 5px 7px var(--nav-item-hover-shadow);
    cursor: pointer;
}

.nav-item img {
    width: 2em;
}

/* Header */
header {
    display: flex;
    
    margin-bottom: 15em;
}

header h3 {
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

header p {
    margin-bottom: 0em;
}

#header-hero-container {
    width: 50%;
}

#header-image {
    display: flex;
        justify-content: center;
    width: 50%;
}

/* About my */
#about-grid {
    display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10em;

    margin-left: 1em;
    margin-right: 1em;

    text-align: center;

    h3 {
        font-size: xx-large;
        font-weight: 400;

        color: var(--special-text-color);
    }
}

.about-item {
    text-shadow: 0px 0px 1em var(--special-text-color);
}

/* Skills */
.skill-item {
    background-color: #223247;
    color: var(--special-skill-color);
    border-radius: 0.2em;

    font-weight: 600;
    font-size: xx-large;
    text-shadow: 0px 0px 5px var(--special-skill-color);

    padding-left: 0.65em;
    padding-right: 0.65em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: fit-content;

    user-select: none;

    transition: ease-in-out 0.10s;
}

.skill-item:hover {
    transform: scale(1.2);
}

.skill-container {
    display: flex;
        flex-wrap: wrap;
        gap: 1em;
}

/* Projects */

#projets-container {
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5em;

    margin-left: 15%;
    margin-right: 15%;
}

.projet-item {
    display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 2.2em;
}

.projet-item > img {
    border: solid 0.15em var(--button-color);
    box-shadow: 0em 0em 1em var(--button-color);
    border-radius: 0.5em;

    width: 100%;
}

.projet-item h2 {
    font-weight: 400;
    font-size: 1.75em;

    margin: 0em;
}

.projets-mw {
    display: flex;
        flex-direction: row;
        gap: 0.5em;
}

.projet-mw-title {
    text-shadow: 0px 0px 10px var(--span-text-color);
}

.projet-mw-item {
    text-shadow: 0px 0px 0px;
    color: var(--special-text-color);
}

.projet-btn {
    display: flex;
        gap: 1.5em;

        
}

.projet-btn button {
    margin-top: 1.5em;
}

.projet-btn button, a {
    display: flex;
        flex-direction: row;
        align-items: center;

    padding: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    width: min-content;
}

.projet-btn span {
    margin: 0;
    margin-left: 0.5em;
    margin-right: 0.6em;

    text-shadow: 0px 0px 10px var(--span-text-color);
}

.projet-btn img {
    width: auto;
    height: 25px;
    object-fit: cover; 
}

/* WantTo */

#wanto-container {
    display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 10em;
}

.wanto-item {
    display: flex;
        flex-direction: column;

    text-align: center;

    h3 {
        font-size: xx-large;
        font-weight: 400;

        color: var(--special-text-color);
    }
}